In [1]:
from pyspark import SparkContext,SparkConf
conf = SparkConf().setAppName("HealthCentre").setMaster("local[2]")
sc = SparkContext.getOrCreate(conf=conf)

ModuleNotFoundError: No module named 'pyspark'

In [4]:
sc

In [6]:
lines=sc.textFile("file:///home/hadoop/Downloads/employee.csv")

In [7]:
lines.take(5)

[u'1,Ulrike,Gartside,Female,ugartside0@mac.com,Yuza,Japan,1283597,11720',
 u'2,Oliy,Blas,Female,oblas1@theguardian.com,Miyata,Japan,466473,9517',
 u'3,Morten,Judkins,Male,mjudkins2@joomla.org,Fey\u1e95\u0101b\u0101d,Iran,530912,7303',
 u'4,Barnie,Holdall,Male,bholdall3@hibu.com,Franti\u0161kovy L\xe1zn\u011b,Czech Republic,1181619,1280',
 u'5,Marna,Greenshields,Female,mgreenshields4@symantec.com,Toulouse,France,951614,1124']

In [8]:
lines1=sc.textFile("/spark/employee.csv")

In [9]:
lines1.take(5)

[u'1,Ulrike,Gartside,Female,ugartside0@mac.com,Yuza,Japan,1283597,11720',
 u'2,Oliy,Blas,Female,oblas1@theguardian.com,Miyata,Japan,466473,9517',
 u'3,Morten,Judkins,Male,mjudkins2@joomla.org,Fey\u1e95\u0101b\u0101d,Iran,530912,7303',
 u'4,Barnie,Holdall,Male,bholdall3@hibu.com,Franti\u0161kovy L\xe1zn\u011b,Czech Republic,1181619,1280',
 u'5,Marna,Greenshields,Female,mgreenshields4@symantec.com,Toulouse,France,951614,1124']

In [19]:
spark.stop()

In [20]:
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder.appName('blah').getOrCreate()

In [22]:
spark

In [24]:
df = spark.read.csv("file:///home/hadoop/Downloads/employee.csv")

In [25]:
df.take(5)

[Row(_c0=u'1', _c1=u'Ulrike', _c2=u'Gartside', _c3=u'Female', _c4=u'ugartside0@mac.com', _c5=u'Yuza', _c6=u'Japan', _c7=u'1283597', _c8=u'11720'),
 Row(_c0=u'2', _c1=u'Oliy', _c2=u'Blas', _c3=u'Female', _c4=u'oblas1@theguardian.com', _c5=u'Miyata', _c6=u'Japan', _c7=u'466473', _c8=u'9517'),
 Row(_c0=u'3', _c1=u'Morten', _c2=u'Judkins', _c3=u'Male', _c4=u'mjudkins2@joomla.org', _c5=u'Fey\u1e95\u0101b\u0101d', _c6=u'Iran', _c7=u'530912', _c8=u'7303'),
 Row(_c0=u'4', _c1=u'Barnie', _c2=u'Holdall', _c3=u'Male', _c4=u'bholdall3@hibu.com', _c5=u'Franti\u0161kovy L\xe1zn\u011b', _c6=u'Czech Republic', _c7=u'1181619', _c8=u'1280'),
 Row(_c0=u'5', _c1=u'Marna', _c2=u'Greenshields', _c3=u'Female', _c4=u'mgreenshields4@symantec.com', _c5=u'Toulouse', _c6=u'France', _c7=u'951614', _c8=u'1124')]

In [26]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

In [27]:
df.show()

+---+---------+------------+------+--------------------+-----------------+--------------+-------+-----+
|_c0|      _c1|         _c2|   _c3|                 _c4|              _c5|           _c6|    _c7|  _c8|
+---+---------+------------+------+--------------------+-----------------+--------------+-------+-----+
|  1|   Ulrike|    Gartside|Female|  ugartside0@mac.com|             Yuza|         Japan|1283597|11720|
|  2|     Oliy|        Blas|Female|oblas1@theguardia...|           Miyata|         Japan| 466473| 9517|
|  3|   Morten|     Judkins|  Male|mjudkins2@joomla.org|         Feyẕābād|          Iran| 530912| 7303|
|  4|   Barnie|     Holdall|  Male|  bholdall3@hibu.com|Františkovy Lázně|Czech Republic|1181619| 1280|
|  5|    Marna|Greenshields|Female|mgreenshields4@sy...|         Toulouse|        France| 951614| 1124|
|  6| Laurella|       Fligg|Female|  lfligg5@meetup.com|         Mrzezino|        Poland| 419390| 6458|
|  7|   Dulcea|     Learoid|Female| dlearoid6@hc360.com|         São José|        Brazil| 933122|11805|
|  8|Gallagher|        Zima|  Male|gzima7@independen...|          Licheng|         China|1018651|11762|
|  9|    Danit|       Field|Female|   dfield8@google.nl|          Taubaté|        Brazil|1174656| 6169|
| 10|   Tricia|       Wawer|Female|    twawer9@hibu.com|            Aktau|    Kazakhstan| 156478|11859|
| 11|  Bronson|     Banford|  Male|bbanforda@imagesh...|        El Zapote|        Mexico| 511834| 8921|
| 12|   Shaine|  Aleksankin|  Male|saleksankinb@reut...|      Carcassonne|        France| 400541|14942|
| 13|     Cris|  Caudrelier|  Male|ccaudrelierc@usda...|        Shalamzār|          Iran| 688898| 3515|
| 14|   Caresa|       Tripp|Female|     ctrippd@cmu.edu|      Kampungbaru|     Indonesia| 732926|10040|
| 15|  Malorie|     Rogeron|Female|mrogerone@wordpre...|           Gludug|     Indonesia| 871232|10919|
| 16|   Bondon|       Drury|  Male|bdruryf@japanpost.jp|       Sumuragung|     Indonesia| 329938| 3205|
| 17| Valdemar|   Callister|  Male|vcallisterg@vista...|          Messina|         Italy| 606036| 9433|
| 18|    Edwin|     Voelker|  Male|evoelkerh@economi...|     Lgota Wielka|        Poland|  85855| 2486|
| 19|   Taylor|      Izzard|  Male|  tizzardi@webmd.com|     Tambo Grande|          Peru|1406237|11901|
| 20|    Nikos|     Catonne|  Male|    ncatonnej@ed.gov|         Corcuera|   Philippines|1101052| 1240|
+---+---------+------------+------+--------------------+-----------------+--------------+-------+-----+
only showing top 20 rows